<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.auction.common.mapper.AddressMapper">
  <resultMap id="BaseResultMap" type="com.zj.auction.common.model.Address">
    <id column="addr_id" jdbcType="BIGINT" property="addrId" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="add_user_id" jdbcType="BIGINT" property="addUserId" />
    <result column="addr1" jdbcType="VARCHAR" property="addr1" />
    <result column="addr2" jdbcType="VARCHAR" property="addr2" />
    <result column="addr3" jdbcType="VARCHAR" property="addr3" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="county_id" jdbcType="INTEGER" property="countyId" />
    <result column="default_flag" jdbcType="INTEGER" property="defaultFlag" />
    <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="post_code" jdbcType="VARCHAR" property="postCode" />
    <result column="province_id" jdbcType="INTEGER" property="provinceId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="tel1" jdbcType="VARCHAR" property="tel1" />
    <result column="tel2" jdbcType="VARCHAR" property="tel2" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="transaction_id" jdbcType="VARCHAR" property="transactionId" />
    <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="province" jdbcType="VARCHAR" property="province" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zj_address
    where addr_id = #{addrId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zj.auction.common.model.Address">
    insert into zj_address (addr_id, add_time, add_user_id, 
      addr1, addr2, addr3, 
      city_id, county_id, default_flag, 
      delete_flag, name, post_code, 
      province_id, status, tel1, 
      tel2, type_id, update_time, 
      user_id, transaction_id, update_user_id, 
      longitude, latitude, city, 
      county, province)
    values (#{addrId,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, #{addUserId,jdbcType=BIGINT}, 
      #{addr1,jdbcType=VARCHAR}, #{addr2,jdbcType=VARCHAR}, #{addr3,jdbcType=VARCHAR}, 
      #{cityId,jdbcType=INTEGER}, #{countyId,jdbcType=INTEGER}, #{defaultFlag,jdbcType=INTEGER}, 
      #{deleteFlag,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{postCode,jdbcType=VARCHAR}, 
      #{provinceId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{tel1,jdbcType=VARCHAR}, 
      #{tel2,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=BIGINT}, #{transactionId,jdbcType=VARCHAR}, #{updateUserId,jdbcType=BIGINT}, 
      #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{county,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zj.auction.common.model.Address">
    update zj_address
    set add_time = #{addTime,jdbcType=TIMESTAMP},
      add_user_id = #{addUserId,jdbcType=BIGINT},
      addr1 = #{addr1,jdbcType=VARCHAR},
      addr2 = #{addr2,jdbcType=VARCHAR},
      addr3 = #{addr3,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=INTEGER},
      county_id = #{countyId,jdbcType=INTEGER},
      default_flag = #{defaultFlag,jdbcType=INTEGER},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      post_code = #{postCode,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      tel1 = #{tel1,jdbcType=VARCHAR},
      tel2 = #{tel2,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=BIGINT},
      transaction_id = #{transactionId,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      county = #{county,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR}
    where addr_id = #{addrId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select addr_id, add_time, add_user_id, addr1, addr2, addr3, city_id, county_id, default_flag, 
    delete_flag, name, post_code, province_id, status, tel1, tel2, type_id, update_time, 
    user_id, transaction_id, update_user_id, longitude, latitude, city, county, province
    from zj_address
    where addr_id = #{addrId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select addr_id, add_time, add_user_id, addr1, addr2, addr3, city_id, county_id, default_flag, 
    delete_flag, name, post_code, province_id, status, tel1, tel2, type_id, update_time, 
    user_id, transaction_id, update_user_id, longitude, latitude, city, county, province
    from zj_address
  </select>
</mapper>