<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.auction.common.mapper.ExpressOrderMapper">
  <resultMap id="BaseResultMap" type="com.zj.auction.common.model.ExpressOrder">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="order_sn" jdbcType="BIGINT" property="orderSn" />
    <result column="freight_amount" jdbcType="DECIMAL" property="freightAmount" />
    <result column="receive_user_name" jdbcType="VARCHAR" property="receiveUserName" />
    <result column="courier_firm_name" jdbcType="VARCHAR" property="courierFirmName" />
    <result column="ems_no" jdbcType="VARCHAR" property="emsNo" />
    <result column="addr_id" jdbcType="BIGINT" property="addrId" />
    <result column="addr" jdbcType="LONGVARCHAR" property="addr" />
    <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
    <result column="express_status" jdbcType="TINYINT" property="expressStatus" />
    <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, user_id, order_sn, freight_amount, receive_user_name, courier_firm_name,
    ems_no, addr_id,addr, delivery_time, express_status, receive_time, create_time, update_time
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zj_express_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zj.auction.common.model.ExpressOrder">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zj_express_order (order_id, user_id, order_sn, 
      freight_amount, receive_user_name, courier_firm_name, 
      ems_no, addr_id, delivery_time, 
      express_status, receive_time, create_time, 
      update_time, addr)
    values (#{orderId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{orderSn,jdbcType=BIGINT}, 
      #{freightAmount,jdbcType=DECIMAL}, #{receiveUserName,jdbcType=VARCHAR}, #{courierFirmName,jdbcType=VARCHAR}, 
      #{emsNo,jdbcType=VARCHAR}, #{addrId,jdbcType=BIGINT}, #{deliveryTime,jdbcType=TIMESTAMP}, 
      #{expressStatus,jdbcType=TINYINT}, #{receiveTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{addr,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zj.auction.common.model.ExpressOrder">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zj_express_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderSn != null">
        order_sn,
      </if>
      <if test="freightAmount != null">
        freight_amount,
      </if>
      <if test="receiveUserName != null">
        receive_user_name,
      </if>
      <if test="courierFirmName != null">
        courier_firm_name,
      </if>
      <if test="emsNo != null">
        ems_no,
      </if>
      <if test="addrId != null">
        addr_id,
      </if>
      <if test="deliveryTime != null">
        delivery_time,
      </if>
      <if test="expressStatus != null">
        express_status,
      </if>
      <if test="receiveTime != null">
        receive_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="addr != null">
        addr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderSn != null">
        #{orderSn,jdbcType=BIGINT},
      </if>
      <if test="freightAmount != null">
        #{freightAmount,jdbcType=DECIMAL},
      </if>
      <if test="receiveUserName != null">
        #{receiveUserName,jdbcType=VARCHAR},
      </if>
      <if test="courierFirmName != null">
        #{courierFirmName,jdbcType=VARCHAR},
      </if>
      <if test="emsNo != null">
        #{emsNo,jdbcType=VARCHAR},
      </if>
      <if test="addrId != null">
        #{addrId,jdbcType=BIGINT},
      </if>
      <if test="deliveryTime != null">
        #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expressStatus != null">
        #{expressStatus,jdbcType=TINYINT},
      </if>
      <if test="receiveTime != null">
        #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addr != null">
        #{addr,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zj.auction.common.model.ExpressOrder">
    update zj_express_order
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderSn != null">
        order_sn = #{orderSn,jdbcType=BIGINT},
      </if>
      <if test="freightAmount != null">
        freight_amount = #{freightAmount,jdbcType=DECIMAL},
      </if>
      <if test="receiveUserName != null">
        receive_user_name = #{receiveUserName,jdbcType=VARCHAR},
      </if>
      <if test="courierFirmName != null">
        courier_firm_name = #{courierFirmName,jdbcType=VARCHAR},
      </if>
      <if test="emsNo != null">
        ems_no = #{emsNo,jdbcType=VARCHAR},
      </if>
      <if test="addrId != null">
        addr_id = #{addrId,jdbcType=BIGINT},
      </if>
      <if test="deliveryTime != null">
        delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expressStatus != null">
        express_status = #{expressStatus,jdbcType=TINYINT},
      </if>
      <if test="receiveTime != null">
        receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addr != null">
        addr = #{addr,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, order_id, user_id, order_sn, freight_amount, receive_user_name, courier_firm_name, 
    ems_no, addr_id, delivery_time, express_status, receive_time, create_time, update_time, 
    addr
    from zj_express_order
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select id, order_id, user_id, order_sn, freight_amount, receive_user_name, courier_firm_name, 
    ems_no, addr_id, delivery_time, express_status, receive_time, create_time, update_time, 
    addr
    from zj_express_order
  </select>
</mapper>