<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.auction.common.mapper.GoodsMapper">
    <resultMap id="BaseResultMap" type="com.zj.auction.common.model.Goods">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="post_id" jdbcType="INTEGER" property="postId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="old_price" jdbcType="DECIMAL" property="oldPrice"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="discount_prices" jdbcType="DECIMAL" property="discountPrices"/>
        <result column="acquire_integral" jdbcType="INTEGER" property="acquireIntegral"/>
        <result column="rebate_transaction_id" jdbcType="VARCHAR" property="rebateTransactionId"/>
        <result column="hot_flag" jdbcType="INTEGER" property="hotFlag"/>
        <result column="discount_flag" jdbcType="INTEGER" property="discountFlag"/>
        <result column="new_flag" jdbcType="INTEGER" property="newFlag"/>
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
        <result column="img_url" jdbcType="VARCHAR" property="imgUrl"/>
        <result column="video_url" jdbcType="VARCHAR" property="videoUrl"/>
        <result column="type_id" jdbcType="INTEGER" property="typeId"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="transaction_id" jdbcType="VARCHAR" property="transactionId"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="add_user_id" jdbcType="INTEGER" property="addUserId"/>
        <result column="weight" jdbcType="DOUBLE" property="weight"/>
        <result column="volume" jdbcType="DOUBLE" property="volume"/>
        <result column="rebate_ratio" jdbcType="VARCHAR" property="rebateRatio"/>
        <result column="service_tel" jdbcType="VARCHAR" property="serviceTel"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="update_user_id" jdbcType="BIGINT" property="updateUserId"/>
        <result column="sell_total" jdbcType="INTEGER" property="sellTotal"/>
        <result column="recommend" jdbcType="TINYINT" property="recommend"/>
        <result column="frozen_explain" jdbcType="VARCHAR" property="frozenExplain"/>
        <result column="ship_address" jdbcType="VARCHAR" property="shipAddress"/>
        <result column="buckle_point_ratio" jdbcType="DECIMAL" property="bucklePointRatio"/>
        <result column="specification" jdbcType="VARCHAR" property="specification"/>
        <result column="tag_id" jdbcType="BIGINT" property="tagId"/>
        <result column="auction_id" jdbcType="BIGINT" property="auctionId"/>
        <result column="auction_status" jdbcType="INTEGER" property="auctionStatus"/>
        <result column="hand_num" jdbcType="INTEGER" property="handNum"/>
        <result column="delivery_money" jdbcType="DECIMAL" property="deliveryMoney"/>
        <result column="sub_type" jdbcType="TINYINT" property="subType"/>
        <result column="cash_price" jdbcType="DECIMAL" property="cashPrice"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , post_id, user_id, old_price, price, discount_prices, acquire_integral, rebate_transaction_id,
    hot_flag, discount_flag, new_flag, goods_name, img_url, video_url, type_id, status,
    transaction_id, remarks, create_time, update_time, add_user_id, weight, volume, rebate_ratio,
    service_tel, sort, update_user_id, sell_total, recommend, frozen_explain, ship_address,
    buckle_point_ratio, specification, tag_id, auction_id, auction_status, hand_num,
    delivery_money, sub_type, cash_price, is_deleted
    </sql>

    <sql id="delete_flag_sql">
        and is_deleted = 0
    </sql>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from zj_goods
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.zj.auction.common.model.Goods">
        insert into zj_goods (post_id, user_id, old_price,
                              price, discount_prices, acquire_integral,
                              rebate_transaction_id, hot_flag, discount_flag,
                              new_flag, goods_name, img_url,
                              video_url, type_id, status,
                              transaction_id, remarks, create_time,
                              update_time, add_user_id, weight,
                              volume, rebate_ratio, service_tel,
                              sort, update_user_id, sell_total,
                              recommend, frozen_explain, ship_address,
                              buckle_point_ratio, specification, tag_id,
                              auction_id, auction_status, hand_num,
                              delivery_money, sub_type, cash_price,
                              is_deleted, content)
        values (#{postId,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{oldPrice,jdbcType=DECIMAL},
                #{price,jdbcType=DECIMAL}, #{discountPrices,jdbcType=DECIMAL}, #{acquireIntegral,jdbcType=INTEGER},
                #{rebateTransactionId,jdbcType=VARCHAR}, #{hotFlag,jdbcType=INTEGER}, #{discountFlag,jdbcType=INTEGER},
                #{newFlag,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR},
                #{videoUrl,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
                #{transactionId,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP}, #{addUserId,jdbcType=INTEGER}, #{weight,jdbcType=DOUBLE},
                #{volume,jdbcType=DOUBLE}, #{rebateRatio,jdbcType=VARCHAR}, #{serviceTel,jdbcType=VARCHAR},
                #{sort,jdbcType=INTEGER}, #{updateUserId,jdbcType=BIGINT}, #{sellTotal,jdbcType=INTEGER},
                #{recommend,jdbcType=TINYINT}, #{frozenExplain,jdbcType=VARCHAR}, #{shipAddress,jdbcType=VARCHAR},
                #{bucklePointRatio,jdbcType=DECIMAL}, #{specification,jdbcType=VARCHAR}, #{tagId,jdbcType=BIGINT},
                #{auctionId,jdbcType=BIGINT}, #{auctionStatus,jdbcType=INTEGER}, #{handNum,jdbcType=INTEGER},
                #{deliveryMoney,jdbcType=DECIMAL}, #{subType,jdbcType=TINYINT}, #{cashPrice,jdbcType=DECIMAL},
                #{isDeleted,jdbcType=TINYINT}, #{content,jdbcType=LONGVARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.zj.auction.common.model.Goods">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into zj_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="postId != null">
                post_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="oldPrice != null">
                old_price,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="discountPrices != null">
                discount_prices,
            </if>
            <if test="acquireIntegral != null">
                acquire_integral,
            </if>
            <if test="rebateTransactionId != null">
                rebate_transaction_id,
            </if>
            <if test="hotFlag != null">
                hot_flag,
            </if>
            <if test="discountFlag != null">
                discount_flag,
            </if>
            <if test="newFlag != null">
                new_flag,
            </if>
            <if test="goodsName != null">
                goods_name,
            </if>
            <if test="imgUrl != null">
                img_url,
            </if>
            <if test="videoUrl != null">
                video_url,
            </if>
            <if test="typeId != null">
                type_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="transactionId != null">
                transaction_id,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="addUserId != null">
                add_user_id,
            </if>
            <if test="weight != null">
                weight,
            </if>
            <if test="volume != null">
                volume,
            </if>
            <if test="rebateRatio != null">
                rebate_ratio,
            </if>
            <if test="serviceTel != null">
                service_tel,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="updateUserId != null">
                update_user_id,
            </if>
            <if test="sellTotal != null">
                sell_total,
            </if>
            <if test="recommend != null">
                recommend,
            </if>
            <if test="frozenExplain != null">
                frozen_explain,
            </if>
            <if test="shipAddress != null">
                ship_address,
            </if>
            <if test="bucklePointRatio != null">
                buckle_point_ratio,
            </if>
            <if test="specification != null">
                specification,
            </if>
            <if test="tagId != null">
                tag_id,
            </if>
            <if test="auctionId != null">
                auction_id,
            </if>
            <if test="auctionStatus != null">
                auction_status,
            </if>
            <if test="handNum != null">
                hand_num,
            </if>
            <if test="deliveryMoney != null">
                delivery_money,
            </if>
            <if test="subType != null">
                sub_type,
            </if>
            <if test="cashPrice != null">
                cash_price,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="postId != null">
                #{postId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="oldPrice != null">
                #{oldPrice,jdbcType=DECIMAL},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="discountPrices != null">
                #{discountPrices,jdbcType=DECIMAL},
            </if>
            <if test="acquireIntegral != null">
                #{acquireIntegral,jdbcType=INTEGER},
            </if>
            <if test="rebateTransactionId != null">
                #{rebateTransactionId,jdbcType=VARCHAR},
            </if>
            <if test="hotFlag != null">
                #{hotFlag,jdbcType=INTEGER},
            </if>
            <if test="discountFlag != null">
                #{discountFlag,jdbcType=INTEGER},
            </if>
            <if test="newFlag != null">
                #{newFlag,jdbcType=INTEGER},
            </if>
            <if test="goodsName != null">
                #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="videoUrl != null">
                #{videoUrl,jdbcType=VARCHAR},
            </if>
            <if test="typeId != null">
                #{typeId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="transactionId != null">
                #{transactionId,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="addUserId != null">
                #{addUserId,jdbcType=INTEGER},
            </if>
            <if test="weight != null">
                #{weight,jdbcType=DOUBLE},
            </if>
            <if test="volume != null">
                #{volume,jdbcType=DOUBLE},
            </if>
            <if test="rebateRatio != null">
                #{rebateRatio,jdbcType=VARCHAR},
            </if>
            <if test="serviceTel != null">
                #{serviceTel,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="updateUserId != null">
                #{updateUserId,jdbcType=BIGINT},
            </if>
            <if test="sellTotal != null">
                #{sellTotal,jdbcType=INTEGER},
            </if>
            <if test="recommend != null">
                #{recommend,jdbcType=TINYINT},
            </if>
            <if test="frozenExplain != null">
                #{frozenExplain,jdbcType=VARCHAR},
            </if>
            <if test="shipAddress != null">
                #{shipAddress,jdbcType=VARCHAR},
            </if>
            <if test="bucklePointRatio != null">
                #{bucklePointRatio,jdbcType=DECIMAL},
            </if>
            <if test="specification != null">
                #{specification,jdbcType=VARCHAR},
            </if>
            <if test="tagId != null">
                #{tagId,jdbcType=BIGINT},
            </if>
            <if test="auctionId != null">
                #{auctionId,jdbcType=BIGINT},
            </if>
            <if test="auctionStatus != null">
                #{auctionStatus,jdbcType=INTEGER},
            </if>
            <if test="handNum != null">
                #{handNum,jdbcType=INTEGER},
            </if>
            <if test="deliveryMoney != null">
                #{deliveryMoney,jdbcType=DECIMAL},
            </if>
            <if test="subType != null">
                #{subType,jdbcType=TINYINT},
            </if>
            <if test="cashPrice != null">
                #{cashPrice,jdbcType=DECIMAL},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.zj.auction.common.model.Goods">
        update zj_goods
        set post_id               = #{postId,jdbcType=INTEGER},
            user_id               = #{userId,jdbcType=BIGINT},
            old_price             = #{oldPrice,jdbcType=DECIMAL},
            price                 = #{price,jdbcType=DECIMAL},
            discount_prices       = #{discountPrices,jdbcType=DECIMAL},
            acquire_integral      = #{acquireIntegral,jdbcType=INTEGER},
            rebate_transaction_id = #{rebateTransactionId,jdbcType=VARCHAR},
            hot_flag              = #{hotFlag,jdbcType=INTEGER},
            discount_flag         = #{discountFlag,jdbcType=INTEGER},
            new_flag              = #{newFlag,jdbcType=INTEGER},
            goods_name            = #{goodsName,jdbcType=VARCHAR},
            img_url               = #{imgUrl,jdbcType=VARCHAR},
            video_url             = #{videoUrl,jdbcType=VARCHAR},
            type_id               = #{typeId,jdbcType=INTEGER},
            status                = #{status,jdbcType=INTEGER},
            transaction_id        = #{transactionId,jdbcType=VARCHAR},
            remarks               = #{remarks,jdbcType=VARCHAR},
            create_time           = #{createTime,jdbcType=TIMESTAMP},
            update_time           = #{updateTime,jdbcType=TIMESTAMP},
            add_user_id           = #{addUserId,jdbcType=INTEGER},
            weight                = #{weight,jdbcType=DOUBLE},
            volume                = #{volume,jdbcType=DOUBLE},
            rebate_ratio          = #{rebateRatio,jdbcType=VARCHAR},
            service_tel           = #{serviceTel,jdbcType=VARCHAR},
            sort                  = #{sort,jdbcType=INTEGER},
            update_user_id        = #{updateUserId,jdbcType=BIGINT},
            sell_total            = #{sellTotal,jdbcType=INTEGER},
            recommend             = #{recommend,jdbcType=TINYINT},
            frozen_explain        = #{frozenExplain,jdbcType=VARCHAR},
            ship_address          = #{shipAddress,jdbcType=VARCHAR},
            buckle_point_ratio    = #{bucklePointRatio,jdbcType=DECIMAL},
            specification         = #{specification,jdbcType=VARCHAR},
            tag_id                = #{tagId,jdbcType=BIGINT},
            auction_id            = #{auctionId,jdbcType=BIGINT},
            auction_status        = #{auctionStatus,jdbcType=INTEGER},
            hand_num              = #{handNum,jdbcType=INTEGER},
            delivery_money        = #{deliveryMoney,jdbcType=DECIMAL},
            sub_type              = #{subType,jdbcType=TINYINT},
            cash_price            = #{cashPrice,jdbcType=DECIMAL},
            is_deleted            = #{isDeleted,jdbcType=TINYINT},
            content               = #{content,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.zj.auction.common.model.Goods">
        update zj_goods
        <set>
            <if test="postId != null">
                post_id = #{postId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="oldPrice != null">
                old_price = #{oldPrice,jdbcType=DECIMAL},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="discountPrices != null">
                discount_prices = #{discountPrices,jdbcType=DECIMAL},
            </if>
            <if test="acquireIntegral != null">
                acquire_integral = #{acquireIntegral,jdbcType=INTEGER},
            </if>
            <if test="rebateTransactionId != null">
                rebate_transaction_id = #{rebateTransactionId,jdbcType=VARCHAR},
            </if>
            <if test="hotFlag != null">
                hot_flag = #{hotFlag,jdbcType=INTEGER},
            </if>
            <if test="discountFlag != null">
                discount_flag = #{discountFlag,jdbcType=INTEGER},
            </if>
            <if test="newFlag != null">
                new_flag = #{newFlag,jdbcType=INTEGER},
            </if>
            <if test="goodsName != null">
                goods_name = #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                img_url = #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="videoUrl != null">
                video_url = #{videoUrl,jdbcType=VARCHAR},
            </if>
            <if test="typeId != null">
                type_id = #{typeId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="transactionId != null">
                transaction_id = #{transactionId,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="addUserId != null">
                add_user_id = #{addUserId,jdbcType=INTEGER},
            </if>
            <if test="weight != null">
                weight = #{weight,jdbcType=DOUBLE},
            </if>
            <if test="volume != null">
                volume = #{volume,jdbcType=DOUBLE},
            </if>
            <if test="rebateRatio != null">
                rebate_ratio = #{rebateRatio,jdbcType=VARCHAR},
            </if>
            <if test="serviceTel != null">
                service_tel = #{serviceTel,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="updateUserId != null">
                update_user_id = #{updateUserId,jdbcType=BIGINT},
            </if>
            <if test="sellTotal != null">
                sell_total = #{sellTotal,jdbcType=INTEGER},
            </if>
            <if test="recommend != null">
                recommend = #{recommend,jdbcType=TINYINT},
            </if>
            <if test="frozenExplain != null">
                frozen_explain = #{frozenExplain,jdbcType=VARCHAR},
            </if>
            <if test="shipAddress != null">
                ship_address = #{shipAddress,jdbcType=VARCHAR},
            </if>
            <if test="bucklePointRatio != null">
                buckle_point_ratio = #{bucklePointRatio,jdbcType=DECIMAL},
            </if>
            <if test="specification != null">
                specification = #{specification,jdbcType=VARCHAR},
            </if>
            <if test="tagId != null">
                tag_id = #{tagId,jdbcType=BIGINT},
            </if>
            <if test="auctionId != null">
                auction_id = #{auctionId,jdbcType=BIGINT},
            </if>
            <if test="auctionStatus != null">
                auction_status = #{auctionStatus,jdbcType=INTEGER},
            </if>
            <if test="handNum != null">
                hand_num = #{handNum,jdbcType=INTEGER},
            </if>
            <if test="deliveryMoney != null">
                delivery_money = #{deliveryMoney,jdbcType=DECIMAL},
            </if>
            <if test="subType != null">
                sub_type = #{subType,jdbcType=TINYINT},
            </if>
            <if test="cashPrice != null">
                cash_price = #{cashPrice,jdbcType=DECIMAL},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from zj_goods
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from zj_goods
    </select>

    <select id="listGoodsInfoByIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from zj_goods
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        <include refid="delete_flag_sql"/>
    </select>

    <update id="updGoodsTagIdByPidStr" parameterType="com.zj.auction.common.model.Goods">
        UPDATE zj_goods g
        SET g.tag_id = : tagId,
            g.update_user_id = : pcUserId
        WHERE
	        g.type_id = 4
	    AND g.user_id IN (
	    SELECT
		    u.user_id
	    FROM
		user_info_tbl u
	    WHERE
		u.delete_flag = 0
	    AND u.pid_str LIKE concat( '%,', : userId, ',%' )
	)
    </update>
</mapper>