<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.auction.common.mapper.PermisRoleMapper">
  <resultMap id="BaseResultMap" type="com.zj.auction.common.model.PermisRole">
    <id column="role_permis_id" jdbcType="BIGINT" property="rolePermisId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="permis_id" jdbcType="BIGINT" property="permisId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zj_permis_role
    where role_permis_id = #{rolePermisId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zj.auction.common.model.PermisRole">
    insert into zj_permis_role (role_permis_id, role_id, permis_id
      )
    values (#{rolePermisId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, #{permisId,jdbcType=BIGINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zj.auction.common.model.PermisRole">
    update zj_permis_role
    set role_id = #{roleId,jdbcType=BIGINT},
      permis_id = #{permisId,jdbcType=BIGINT}
    where role_permis_id = #{rolePermisId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select role_permis_id, role_id, permis_id
    from zj_permis_role
    where role_permis_id = #{rolePermisId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select role_permis_id, role_id, permis_id
    from zj_permis_role
  </select>

  <select id="listSysPermisTblByRoleIds" resultType="map">
    SELECT
	a.*,
	b.permis
FROM
	(
	SELECT
		permis_id
	FROM
		zj_permis_role
	WHERE
	role_id IN (#{roleIds})) a
	LEFT JOIN zj_permis b ON a.permis_id = b.permis_id
WHERE
	b.delete_flag = 0
  </select>
</mapper>