<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.auction.common.mapper.StockMapper">
  <resultMap id="BaseResultMap" type="com.zj.auction.common.model.Stock">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="cash_price" jdbcType="DECIMAL" property="cashPrice" />
    <result column="integral_price" jdbcType="DECIMAL" property="integralPrice" />
    <result column="stock_number" jdbcType="BIGINT" property="stockNumber" />
    <result column="stock_status" jdbcType="TINYINT" property="stockStatus" />
    <result column="owner_id" jdbcType="BIGINT" property="ownerId" />
    <result column="transfer_num" jdbcType="INTEGER" property="transferNum" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
  </resultMap>

  <sql id="Base_Column_List">
    id, goods_id, cash_price,integral_price, stock_number, stock_status, owner_id, transfer_num, create_time,
    update_time, is_deleted
  </sql>

  <sql id="delete_flag_sql">
    and is_deleted = 0
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zj_stock
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.zj.auction.common.model.Stock">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zj_stock (goods_id,  cash_price,integral_price, stock_number,
      stock_status, owner_id, transfer_num, 
      create_time, update_time, is_deleted
      )
    values (#{goodsId,jdbcType=BIGINT}, #{cashPrice,jdbcType=DECIMAL}, #{integralPrice,jdbcType=DECIMAL}, #{stockNumber,jdbcType=BIGINT},
      #{stockStatus,jdbcType=TINYINT}, #{ownerId,jdbcType=BIGINT}, #{transferNum,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=TINYINT}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.zj.auction.common.model.Stock">
    insert into zj_stock
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="cashPrice != null">
        cash_price,
      </if>
      <if test="integralPrice != null">
        integral_price,
      </if>
      <if test="stockNumber != null">
        stock_number,
      </if>
      <if test="stockStatus != null">
        stock_status,
      </if>
      <if test="ownerId != null">
        owner_id,
      </if>
      <if test="transferNum != null">
        transfer_num,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="cashPrice != null">
        #{cashPrice,jdbcType=DECIMAL},
      </if>
      <if test="integralPrice != null">
        #{integralPrice,jdbcType=DECIMAL},
      </if>
      <if test="stockNumber != null">
        #{stockNumber,jdbcType=BIGINT},
      </if>
      <if test="stockStatus != null">
        #{stockStatus,jdbcType=TINYINT},
      </if>
      <if test="ownerId != null">
        #{ownerId,jdbcType=BIGINT},
      </if>
      <if test="transferNum != null">
        #{transferNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.zj.auction.common.model.Stock">
    update zj_stock
    set goods_id = #{goodsId,jdbcType=BIGINT},
      cash_price = #{cashPrice,jdbcType=DECIMAL},
      integral_price = #{integralPrice,jdbcType=DECIMAL},
      stock_number = #{stockNumber,jdbcType=BIGINT},
      stock_status = #{stockStatus,jdbcType=TINYINT},
      owner_id = #{ownerId,jdbcType=BIGINT},
      transfer_num = #{transferNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.zj.auction.common.model.Stock">
    update zj_stock
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="cashPrice != null">
        cash_price = #{cashPrice,jdbcType=DECIMAL},
      </if>
      <if test="integralPrice != null">
        integral_price = #{integralPrice,jdbcType=DECIMAL},
      </if>
      <if test="stockNumber != null">
        stock_number = #{stockNumber,jdbcType=BIGINT},
      </if>
      <if test="stockStatus != null">
        stock_status = #{stockStatus,jdbcType=TINYINT},
      </if>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=BIGINT},
      </if>
      <if test="transferNum != null">
        transfer_num = #{transferNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from zj_stock
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from zj_stock
  </select>

  <select id="selectOneBySn" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from zj_stock
    where stock_number = #{sn}
    <include refid="delete_flag_sql"/>
  </select>

    <select id="listStockBySnList" resultMap="BaseResultMap">
      select <include refid="Base_Column_List" />
      from zj_stock
      where stock_number in
      <foreach collection="snList" item="sn" open="(" separator="," close=")">
        #{sn}
      </foreach>
      <include refid="delete_flag_sql"/>
    </select>
  <select id="listStockByIds" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from zj_stock
    where id in
    <foreach collection="ids" item="sn" open="(" separator="," close=")">
      #{id}
    </foreach>
    <include refid="delete_flag_sql"/>
  </select>

</mapper>