<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.auction.common.mapper.StockMapper">
  <resultMap id="BaseResultMap" type="com.zj.auction.common.model.Stock">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="prices" jdbcType="DECIMAL" property="prices" />
    <result column="stock_number" jdbcType="BIGINT" property="stockNumber" />
    <result column="stock_status" jdbcType="TINYINT" property="stockStatus" />
    <result column="owner_id" jdbcType="BIGINT" property="ownerId" />
    <result column="transfer_num" jdbcType="INTEGER" property="transferNum" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
  </resultMap>

  <sql id="delete_flag_sql">
    and is_deleted = 0
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zj_stock
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zj.auction.common.model.Stock">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zj_stock (goods_id, prices, stock_number, 
      stock_status, owner_id, transfer_num, 
      create_time, update_time, is_deleted
      )
    values (#{goodsId,jdbcType=BIGINT}, #{prices,jdbcType=DECIMAL}, #{stockNumber,jdbcType=BIGINT},
      #{stockStatus,jdbcType=TINYINT}, #{ownerId,jdbcType=BIGINT}, #{transferNum,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=TINYINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zj.auction.common.model.Stock">
    update zj_stock
    set goods_id = #{goodsId,jdbcType=BIGINT},
      prices = #{prices,jdbcType=DECIMAL},
      stock_number = #{stockNumber,jdbcType=BIGINT},
      stock_status = #{stockStatus,jdbcType=TINYINT},
      owner_id = #{ownerId,jdbcType=BIGINT},
      transfer_num = #{transferNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, goods_id, prices, stock_number, stock_status, owner_id, transfer_num, 
    create_time, update_time, is_deleted
    from zj_stock
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, goods_id, prices, stock_number, stock_status, owner_id, transfer_num, 
    create_time, update_time, is_deleted
    from zj_stock
  </select>
  <select id="selectOneBySn" resultType="com.zj.auction.common.model.Stock">
    select id, goods_id, prices, stock_number, stock_status, owner_id, transfer_num,
           create_time, update_time, is_deleted
    from zj_stock
    where stock_number = #{sn}
    <include refid="delete_flag_sql"/>
  </select>
</mapper>