<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.auction.common.mapper.UserBillMapper">
  <resultMap id="BaseResultMap" type="com.zj.auction.common.model.UserBill">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="bill_type" jdbcType="TINYINT" property="billType" />
    <result column="pay_type" jdbcType="TINYINT" property="payType" />
    <result column="bill_status" jdbcType="TINYINT" property="billStatus" />
    <result column="transtion_sn" jdbcType="VARCHAR" property="transtionSn" />
    <result column="external_sn" jdbcType="VARCHAR" property="externalSn" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, bill_type, pay_type, bill_status, transtion_sn, external_sn,
    amount, finish_time, remark, create_time, update_time, is_deleted
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zj_user_bill
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zj.auction.common.model.UserBill">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into zj_user_bill (user_id, bill_type, pay_type, 
      bill_status, transtion_sn, external_sn, 
      amount, finish_time, remark, 
      create_time, update_time, is_deleted
      )
    values (#{userId,jdbcType=BIGINT}, #{billType,jdbcType=TINYINT}, #{payType,jdbcType=TINYINT}, 
      #{billStatus,jdbcType=TINYINT}, #{transtionSn,jdbcType=VARCHAR}, #{externalSn,jdbcType=VARCHAR}, 
      #{amount,jdbcType=DECIMAL}, #{finishTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=TINYINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zj.auction.common.model.UserBill">
    update zj_user_bill
    set user_id = #{userId,jdbcType=BIGINT},
      bill_type = #{billType,jdbcType=TINYINT},
      pay_type = #{payType,jdbcType=TINYINT},
      bill_status = #{billStatus,jdbcType=TINYINT},
      transtion_sn = #{transtionSn,jdbcType=VARCHAR},
      external_sn = #{externalSn,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, user_id, bill_type, pay_type, bill_status, transtion_sn, external_sn, 
    amount, finish_time, remark, create_time, update_time, is_deleted
    from zj_user_bill
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, bill_type, pay_type, bill_status, transtion_sn, external_sn, 
    amount, finish_time, remark, create_time, update_time, is_deleted
    from zj_user_bill
  </select>
  <select id="selectUserBillByTranstionSn" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from zj_user_bill
    where transtion_sn = #{sn}
    limit 1
  </select>
</mapper>